<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Heart Rate Limits</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    Heart rate limits for person {{age}} old are
    {{lowerLim | number:'1.0-0'}} - {{upperLim | number:'1.0-0'}}
  </p>
</ion-content>
