<ion-header>
  <ion-toolbar>
    <ion-title>
      Heart Rate Limits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding> 
  <ion-input type="number" name="age" placeholder="Enter your age" [(ngModel)]="age"></ion-input>
  <ion-button (click)="calculate()">Calculate</ion-button>
</ion-content>
